<div class="span-24">
  
  <h2>Log in</h2>
  
  <% form_tag session_path do %>
    <fieldset class="LoginField">
      <ul>
        <li>
          <%= label_tag :login, "Login:" %>
          <%= text_field_tag :login, @login, :class => "text"  %>
        </li>
        <li>
          <%= label_tag :password, "Password:" %>
          <%= password_field_tag :password, '', :class => "text" %>
        </li>
      </ul>
      <p class="RememberMe">        
        <%= check_box_tag :remember_me, '1', @remember_me %>
        <%= label_tag :remember_me, "Remember me:" %>     
      </p>
    </fieldset>
    <fieldset class="LoginFieldsSubmit">
      <%= submit_tag "Login" %>
    </fieldset>
  <% end %>

</div>
