%h1 Sign up as a new user

= error_messages_for :user

- form_for @user do |f|
  %fieldset
    %legend Login data
    %ol
      %li
        = f.label :login, "Login:"
        = f.text_field :login
      %li
        = f.label :email, "Email:"
        = f.text_field :email
      %li
        = f.label :password, "Password:"
        = f.password_field :password
      %li
        = f.label :password_confirmation, "Confirm password:"
        = f.password_field :password_confirmation
  %fieldset{:class => 'submit'}
    = f.submit "Sign up"