<h2> Sign up as a new user </h2>

<%= error_messages_for :user %>

<% form_for @user do |f| %>
  <fieldset>
    <legend> Login data </legend>
    <ol>
      <li>
        <%= f.label :login, "Login:" %>
        <%= f.text_field :login %>
      </li>
      <li>
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirm password:" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
  </fieldset>
  <fieldset class='submit'>
    <%= f.submit "Sign up" %>
  </fieldset>
<% end %>