<fieldset class="CreateProjectFields">
  <legend> Project information </legend>
  <ul>
    <li>
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title, :class => "text" %>
    </li>
    <li>
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>
    </li>
    <li>
      <%= f.label :tag_list, "Tags:" %>
      <%= f.text_field :tag_list, :class => "text" %>
    </li>
  </ul>
</fieldset>

<fieldset class="CreateProjectFields">
  <legend> How long and where was the project? </legend>
  <ul>
    <% fields_for 'project[company_attributes]', @project.company do |pc| %>
    <li>
      <%= pc.label :name, "Name:" %>
      <%= pc.text_field :name, :class => "text" %>
    </li>
    <li>
      <%= pc.label :url, "Url:" %>
      <%= pc.text_field :url, :class => "text"%>
    </li>
    <% end%>
    <li>
      <%= f.label :started_on, "Started on:" %>
      <%= f.date_select :started_on %>
    </li>
    <li>
      <%= f.label :ended_on, "Ended on:" %>
      <%= f.date_select :ended_on %>
    </li>
</fieldset>