<fieldset>
  <legend> Project information </legend>
  <ol>
    <li>
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, {:rows => 5, :cols => 20} %>
    </li>
  </ol>
</fieldset>

<fieldset>
  <legend> How long and where was the project? </legend>
  <ol>
    <li>
      <%= f.label :company, "Company:" %>
      <%= f.text_field :company %>
    </li>
    <li>
      <%= f.label :started_on, "Started on:" %>
      <%= f.date_select :started_on %>
    </li>
    <li>
      <%= f.label :ended_on, "Ended on:" %>
      <%= f.date_select :ended_on %>
    </li>
</fieldset>