<% div_for project do %>
  <h3><%= link_to h(project.title), project %></h3>
  <%= project.description_view %>
  <p>Started on: <%= project.started_on %></p>
  <p>Ended on: <%= project.ended_on %></p>
  <p>Tags: <%= project.tags.join(', ') %></p>
  <% if project.company %>
    <p>Company: <%= link_to project.company.name, project.company.url %></p>
  <% end %>
<% end %>