<div class="span-24">

  <h2> Edit project </h2>
  
  <%= error_messages_for :project %>
  
  <% form_for @project do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <fieldset class="submit">
      <%= f.submit "Save", :class => "Button Left" %>
	    <%= link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?', :class => "Button" %>
	    <%= link_to '&laquo; Back', :back %>
    </fieldset>
  <% end %>
  
  
  <% content_for :sidebar do %>
    <div class="sidebar_block">
      <ul>
        <li><%= link_to "Project list", user_projects_url(current_user) %></li>
      </ul>
    </div>
  <% end %>

</div>