<h1>Listing projects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Description view</th>
    <th>Started on</th>
    <th>Ended on</th>
    <th>Company</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%=h project.user_id %></td>
    <td><%=h project.title %></td>
    <td><%=h project.description %></td>
    <td><%=h project.description_view %></td>
    <td><%=h project.started_on %></td>
    <td><%=h project.ended_on %></td>
    <td><%=h project.company %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
