<% div_for @project do %>
  <h3><%= h(@project.title) %></h3>
  <%= @project.description_view %>
  <p>Started on: <%= @project.started_on %></p>
  <p>Ended on: <%= @project.ended_on %></p>
  <p>Tags: <%= @project.tags.join(', ') %></p>
  <% if @project.company %>
    <p>Company: <%= link_to @project.company.name, @project.company.url %></p>
  <% end %>
  <% owner_area do %>
    <%= link_to 'Edit', edit_project_path(@project) %>
  <% end %>
  
<% end %>
