<div class="span-24">

  <h2> Edit blog post </h2>
  
  <%= error_messages_for :post %>
  
  <% form_for @post do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <fieldset class="submit">
      <%= f.submit "Save", :class => "Button Left" %>
	    <%= link_to 'Delete', post_path(@post), :method => :delete, :confirm => 'Are you sure?', :class => "Button" %>
	    <%= link_to '&laquo; Back', :back %>
    </fieldset>
  <% end %>
  
  
  <% content_for :sidebar do %>
    <div class="sidebar_block">
      <ul>
        <li><%= link_to "Blog", posts_url %></li>
      </ul>
    </div>
  <% end %>

</div>