!!! Strict
%html{html_attrs('en-GB')}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title Portfolio App
    = stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css"
    = stylesheet_link_tag "base"
    = yield :head
  %body
    #main
      #header
        %h1 Portfoli App
      %ul#tabs
        %li Projects
        %li Blog
        %li Books
      #body
        #content= yield
        #sidebar= yield(:sidebar)
      #push

    #footer Powered by rails